<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thm.hcia.twofactorlockscreen"
    android:versionCode="1"
    android:versionName="0.1 alpha rev 1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_lock"
        android:label="@string/app_name"
        android:theme="@style/TwoFactorTheme"
        android:uiOptions="none" >
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.fragments.PrototypeFragment"
            android:label="@string/title_activity_prototype_fragment" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.AssistentMainActivity"
            android:label="@string/title_activity_assistent_main"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.PrototypeStartActivity"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.AssistentPatterInput"
            android:label="@string/title_activity_assistent_patter_input" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.PrototypeStart"
            android:label="@string/title_activity_prototype_start" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.fragments.EvaluationFragment"
            android:label="@string/title_activity_evaluation_fragment" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.AssistentSpeechActivity"
            android:label="@string/title_activity_assistent_speech_input"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.ManuelSpeechActivity"
            android:label="@string/title_activity_assistent_speech_input"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.AssistentFinishActivity"
            android:label="@string/title_activity_assistent__finish"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.PrototypeTestActivity"
            android:label="@string/title_activity_prototype_test" >
        </activity>
        <activity
            android:name="de.thm.hcia.twofactorlockscreen.PrototypeTestFinish"
            android:label="@string/title_activity_prototype_tes_finish"
            android:theme="@style/Theme.Sherlock.Light.DarkActionBar" >
        </activity>

<!--
***************************     
***LOCKPATTERN Activities**
*************************** 
-->
        <activity
            android:name="group.pals.android.lib.ui.lockpattern.LockPatternActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Alp.Theme.Light" />
        <activity
            android:name="group.pals.android.lib.ui.lockpattern.LockPattern2FLSActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Alp.Theme.Light" />
        
    </application>

</manifest>